@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

.OptionName{
    margin: 5px;
    color:white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'IM Fell English SC', serif;
}

.descriptionImage{
    width:80%;
    margin: 10px auto;
    height: 75px;
    font-size: 12px;
    color:white;
    font-weight: 400;
    text-align: center;
}

.inputImage{
    display: block;
    position: relative;
    width:80%;
    margin: -10px auto;
    height:50px;
    border-radius: 10px;
}

.ImageInput{
    position: absolute;
    height:200%;
    width:100%;
    top:-50px;
    border-radius: 10px;
    cursor: pointer;
}

.inputImageDiv{
    position: relative;
    width:80%;
    height:50px;
    margin: -20px auto;
    overflow:hidden;
    border-radius: 5px;
    border:2px dashed black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.inputImageDiv>h1{
    margin-top: 10px;
    font-size: 12px;
    font-family: 'IM Fell English SC';
    color:white;
    font-weight: 100;
}