.About_Container{
    height: fit-content;
    width: 1440px;
    margin: 0px auto;
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;

    h3{
            font-size: 32px;
            margin: 0;
            padding: 0;
            color: #131F2D;
            font-weight: 100;
            width: calc(100% - 25px);
            padding-bottom: 5px;
            border-bottom: 1px dashed #131F2D;
    }

    .FAQ, .Description, .Support, .Join{
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.425);
        border-radius: 2px;
        padding-top: 20px;
        padding-left: 20px;
        margin: 0;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-top: 20px;
        height: 360px;
        width: 100%;
        position: relative;
    }

    .Description{
        width: 460px;
        .Description_Context{
            width: 95%;
            height: fit-content;
            max-height: calc(90% - 42px);
            overflow: auto;
            overflow-x: hidden;
            .Description_Article{
                position: relative;
                width: 100%;
                h4, p, img{
                    margin: 0;
                    padding: 0;
                }
                h4{
                    font-size: 22px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    color: #F36300;
                }
                p::first-letter{
                    margin-left: 20px;
                    line-height: 18px;
                }
                img{
                    margin: 10px;
                    height: 75px;
                    width: auto;
                    border-radius: 6px;
                    filter: drop-shadow(0px 0px 4px #00000062);
                }
            }
        }
    }
    .FAQ{
        h3{
            border: none;
        }
        width: 960px;
        margin-left: 20px;
        .FAQ_container{
            width: calc(100% - 25px);
            height: fit-content;
            max-height: calc(90% - 42px);
            overflow-y: auto;
            .FAQ_question{
                margin-top: 10px;
                transition: 0.5s;
                height: fit-content;
                overflow: hidden;
                max-height: 40px;
                display: flex;
                flex-direction: row;
                h5{
                    display: inline-block;
                    margin: 0;
                    box-sizing: border-box;
                    font-size: 18px;
                    width: 50px;
                    padding-left: 15px;
                    padding-top: 7px;
                    color: #F36300;
                }
                .FAQ_question_container{
                    display: inline-block;
                    width: calc(100% - 50px - 40px);
                    border-bottom: 2px dashed black;
                    h4{
                        margin: 0;
                        padding: 0;
                        font-size: 22px;
                        width: calc(100% - 10px);
                        transition: 0.15s;
                        height: 38px;
                        padding-left: 10px;
                        word-wrap: break-word;
                        display: flex;
                        align-items: center;
                        &:hover{
                            background-color: #f4f7fd;
                            border-radius: 2px;
                            cursor: pointer;
                        }
                    }
                    p{
                        padding:10px;
                        padding-top: 5px;
                        margin: 0;
                        a{
                            color: rgb(91, 157, 255);
                            text-decoration: none;
                        }
                    }
                }
            }
            .FAQ_open{
                transition: 1s;
                max-height: 200px;
                .FAQ_question_container{
                    background-color: #f4f7fd;
                }
            }
        }
    }

    .Support{
        padding: 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .BG_Dot_1, .BG_Dot_2, .Big_Dot_3{
            position: absolute;
            z-index: 0;
            background-color: #3F4650;
            height: 80%;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
        .Support_Left{
            width: 60%;
            height: 100%;
            background-color: #3F4650;
            position: relative;
            .BG_Dot_1{
                right: -10px;
                top:-20px;
            }
            .BG_Dot_2{
                right: -90px;
                bottom: -100px;
                z-index: 2;
            }
            .Support_Left_Content{
                position: relative;
                z-index: 3;
                padding: 20px;
                width: 80%;
                h2, p, h5, li, ul{
                    margin: 0;
                    padding: 0;
                    color: #F5F5F5;
                    font-weight: 100;
                }
                h2{
                    font-size: 48px;
                }
                p{
                    width: 80%;
                }
                h5{
                    margin-top: 25px;
                    font-size: 22px;
                    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.664);
                }
                .Support_Left_Donation_Bar{
                    width: 50%;
                    height: 20px;
                    border-radius: 5px;
                    margin-top: 5px;
                    background: linear-gradient(90deg, #A6FD7E, #ffffff, #ffffff);
                }
                ul{
                    list-style: none;
                    margin-top: 20px;
                }
            }
        }
        .Support_Right{
            width: 40%;
            height: 100%;
            position: relative;
            .Big_Dot_3{
                background-color: white;
                top:-100px;
                left: -104px;
            }
            .Support_Right_Content{
                position: absolute;
                top: 0px;
                left: 45px;
                background-color: white;
                width: 100%;
                height: 100%;
                z-index: 1;
                img{
                    display: block;
                    width: 55%;
                    margin: -5px auto;
                    height: auto;
                    pointer-events: none;
                }
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 260px;
                    height: 40px;
                    margin: -20px auto;
                    background-color: #A6FD7E;
                    border-radius: 6px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.411);
                    text-decoration: none;
                    font-size: 32px;
                    color: black;
                    transition: 0.1s;
                    &:hover{
                        transform: scale(1.015);
                    }
                }
            }
        }
    }

    .Join{
        height: 70px;
        display: flex;
        align-items: center;
        padding-top: 0;
        h2{
            font-weight: 100;
        }
        a, .Link_color{
            color: rgb(63, 168, 238);
        }
        .Link_color{
            cursor: auto;
        }
    }
}