.block_options{
    display: flex;
    flex-direction: column;
    width:100%;
    .banner{
        width:100%;
        text-align: center;
    }
    .SingleOption{
        width:15%;
    }
    .options{
        width:100%;
        display: flex;
        flex-direction: row;
    }
}

.effects_options{
    display: flex;
    flex-direction: column;
    width:100%;
    .banner{
        width:100%;
        text-align: center;
    }
    .SingleOption{
        width:15%;
    }
    .options{
        width:100%;
        display: flex;
        flex-direction: row;
    }
}