.block_options{
    display: flex;
    flex-direction: column;
    width:100%;
    .banner{
        width:100%;
        text-align: center;
    }
    .SingleOption{
        width:30%;
        height:150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
        margin-left: 15px;
        h3{
            text-align: center;
            font-size: 14px;
        }
    }
    .options{
        width:100%;
        display: flex;
        flex-direction: row;
    }
}

.effects_options{
    display: flex;
    flex-direction: column;
    width:100%;
    .banner{
        width:100%;
        text-align: center;
    }
    .SingleOption{
        width:30%;
        height:150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
        margin-left: 15px;
        h3{
            text-align: center;
            font-size: 14px;
        }
    }
    .options{
        width:100%;
        display: flex;
        flex-direction: row;
    }
}

input[type='number']{
        width: 40px;
} 

@media only screen and (max-width: 600px){
    .options{
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .SingleOption{
        margin-top: 10px;
    }
}