.OptionsDescription{
    height: 70px;
    h3{
        color: #3F4650;
        margin: 0;
        padding: 0;
        width: 86%;
        margin: 0 auto;
        font-size: 32px;
    }
    h6{
        color: #6E8898;
        margin: 0;
        padding: 0;
        width: 86%;
        margin: 10px auto;
        font-size: 18px;
    }
}