.PlayButton{
    margin: 20px auto;
    font-size: 24px;
    padding: 15px 20px 15px 20px;
    outline: none;
    border:none;
    border-radius: 5px;
}

.PlayButton:hover{
    cursor:pointer;
    transition: 0.4s;
    background-color: tomato;
}

.mainDiv{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.play_recorded{
    margin: -35px auto;
    margin-bottom: 20px;
    position: relative;
    width:200px;
    background-color: #ADB2D3;
    box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.747);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
}

.play_recorded:hover{
    background: #898eb3;
}

.play_recorded>h3{
    padding: 0px;
    text-align: center;
    font-size: 16px;
}

.play_recorded:hover::before{
    content: '';
    border-radius: 15px;
    position: absolute;
    animation: step_one 0.75s linear,step_three 0.75s linear 0.75s;
}

.play_recorded:hover::after{
    content: '';
    border-radius: 5px;
    position: absolute;
    animation: step_two 0.65s linear 0.37s,step_four 0.65s linear 1.1s;
}

@keyframes step_one{
    0%{
        width:100%;
        height:5px;
        background: linear-gradient(90deg,transparent,#003e68);
        top:0;
        left:-100%;
    }
    100%{
        width:100%;
        height:5px;
        background: linear-gradient(90deg,transparent,#003e68);
        top:0;
        left:100%;
    }
}

@keyframes step_two{
    0%{
        right:0;
        width:5px;
        height:100%;
        background: linear-gradient(180deg,transparent,#003e68);
        top:-100%;
    }
    100%{
        right:0;
        width:5px;
        height:100%;
        background: linear-gradient(180deg,transparent,#003e68);
        top:100%;
    }
}

@keyframes step_three{
    0%{
        width:100%;
        height:5px;
        background: linear-gradient(270deg,transparent,#003e68);
        bottom:0;
        left:100%;
    }
    100%{
        width:100%;
        height:5px;
        background: linear-gradient(270deg,transparent,#003e68);
        bottom:0;
        left:-100%;
    }
}

@keyframes step_four{
    0%{
        left:0;
        width:5px;
        height:100%;
        background: linear-gradient(0deg,transparent,#003e68);
        top:100%;
    }
    100%{
        left:0;
        width:5px;
        height:100%;
        background: linear-gradient(0deg,transparent,#003e68);
        top:-100%;
    }
}