@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&family=Poppins:wght@300&display=swap');

.mainDiv{
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    .mainHead{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 1680px) {
    .mainDiv{
        .Main_data{
            width:80%;
            height:100vh;
        }
    }
}

@media only screen and (max-width: 1370px) {
    .mainDiv{
        padding-bottom: 0px !important;
        .mainHead{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
        }
    }
}

@media only screen and (max-width: 550px) {
    .mainDiv{
        .mainHead{
            .Main_data{
                width:100%;
                height:45%;
                margin-top: 50px;
                .Main_data_Text{
                    width:90%;
                }
                .Title{
                    font-size: 11px;
                    width:100%;
                }
                .Description{
                    font-size: 10px;
                    max-height: 100px;
                    overflow-y: auto;
                }
                .Logo{
                    width:80px;
                    height:80px;
                }
            }
        }
    }
}
