@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&family=Poppins:wght@300&display=swap');

.mainDiv{
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    .mainHead{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .Main_data{
        width:50%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        .Main_data_Text{
            margin-left: 12%;
            max-width: 80%;
            text-align: center;
        }
        .Title{
            font-family: 'Overpass Mono', monospace;
            max-width: 90%;
            font-size: 28px;
            text-transform: uppercase;
            z-index: 1;
            color:#d0e4d0
        }
        .Description{
            font-family: 'Overpass Mono';
            font-size: 16px;
            z-index: 1;
        }
        .Logo{
            width:150px;
            height:150px;
            margin: 0;
            margin-left: 12%;
            filter: drop-shadow(0px -15px 25px #36ce3915);
            z-index: 0;
        }
    }
    .Demo_Bt{
        position: absolute;
        z-index: 555;
        border:none;
        padding: 10px;
        color:#113823;
        text-shadow: 0px 0px 6px 1px #0e291b;
        background-color: #d0e4d0;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        top:95vh;
        left:0.3vw;
        transition: 0.15s;
        outline: none;
        box-shadow: 0px 0px 8px 0px #d0e4d0;
        opacity: 0.4;
    }
    .Demo_Bt:hover{
        box-shadow: 0px 0px 6px 2px #d0e4d0;
        opacity: 1;
        outline: none;
        border:none
    }
}

@media only screen and (max-width: 1380px) {
    .mainDiv{
        .Main_data{
            width:70%;
            height:100vh;
            .Title{
                font-size: 22px;
            }
            .Description{
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 1060px) {
    .mainDiv{
        .Main_data{
            width:70%;
            .Title{
                font-size: 18px;
            }
            .Description{
                font-size: 12px;
            }
            .Logo{
                width:100px;
                height:100px;
            }
        }
    }
}

@media only screen and (max-width: 920px) {
    .mainDiv{
        padding-bottom: 0px !important;
        .mainHead{
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
            .Main_data{
                margin-top: 60px;
                height:45%;
                .Main_data_Text{
                    margin-left: 0% !important;
                }
                .Logo{
                    margin-left: 0% !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .mainDiv{
        .mainHead{
            .Main_data{
                width:100%;
                height:45%;
                margin-top: 50px;
                .Main_data_Text{
                    width:90%;
                }
                .Title{
                    font-size: 11px;
                    width:100%;
                }
                .Description{
                    font-size: 10px;
                    max-height: 100px;
                    overflow-y: auto;
                }
                .Logo{
                    width:80px;
                    height:80px;
                }
            }
        }
    }
}
