@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

.Info_Main{
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
    color:white;
    .Contributes{
        font-family: 'Quicksand', sans-serif;
        background-color: #44c2f81a;
        box-shadow: 0px -2px 5px black;
        margin-bottom: 0px;
        height:300px;
        .Contributes_h1{
            font-size: 28px;
            padding-top: 10px;
            text-align: left;
            width: 90%;
            margin: 0px auto;
            margin-bottom: 20px;
            display: block;
        }
        ._List{
            display: block;
            margin-top: 40px;
            margin-bottom: 0;
            .L_Element{
                margin: 10px;
                a{
                    color:lightblue;
                    text-decoration: none;
                    font-size: 18px;
                    transition: 0.15s;
                    margin: 0;
                    cursor:pointer;
                }
                a:hover{
                    color:rgb(32, 143, 180)
                }
            }
        }
    }
    .Support{
        background-color: rgba(255, 255, 255, 0.219);
        padding-bottom: 50px;
        height:300px;
        margin-top: 0px;
        font-family: 'Quicksand', sans-serif;
        box-shadow: 0px 0px 8px black;
        .Support_h1{
            font-size: 28px;
            height:50px;
            width:90%;
            margin: 0 auto;
            text-align: left;
            padding-top: 20px;
        }
        .Support_Data{
            width:90%;
            height:90%;
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .Supp_img{
                height:100%;
                width:50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                overflow: hidden;
                img{
                    height:90%;
                    border-radius: 10px;
                    object-fit: fill;
                    width:50%;
                }
            }
            .Support_don{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    text-align: center;
                    font-size: 14px;
                    font-weight: 300;
                }
                a{
                    text-decoration: none;
                    color: rgb(32, 143, 180);
                    transition: 0.15s;
                }
                a:hover{
                    color: rgb(150, 202, 219);
                }
                .inp{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    p{
                        font-size: 11px;
                        color: rgba(255, 255, 255, 0.541);
                        margin-left: 5px;
                    }
                }
                input[type='checkbox']{
                    width:25px;
                    height:25px;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;
                }
                input[type='checkbox']::after{
                    font-size: 18px;
                    content: '😢';
                    width: 100%;
                    height: 100%;
                    top:0;
                    left: 0px;
                    background-color: rgb(230, 63, 63);
                    position: absolute;
                }
                input[type='checkbox']:hover::after{
                    font-size: 18px;
                    content: '😻';
                    background-color: rgb(96, 141, 226);
                }
                input[type='checkbox']:checked:hover::after{
                    font-size: 18px;
                    content: '😱';
                    background-color: rgb(96, 141, 226);
                }
                input[type='checkbox']:checked::after{
                    font-size: 18px;
                    content:'❤️';
                    background-color: rgb(147, 226, 94);
                }
            }
        }
    }
}

@media only screen and (max-width:1020px) {
    .Info_Main{
        .Support{
            .Support_Data{
                .Supp_img{
                    img{
                        width:80%;
                        height:60%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .Info_Main{
        .Contributes{
            .Contributes_h1{
                font-size: 18px;
            }
            ._List{
                .L_Element{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        .Support{
            .Support_h1{
                font-size: 18px;
            }
            .Support_Data{
                .Supp_img{
                    img{
                        width:80%;
                        height:60%;
                    }
                }
                .Support_don{
                    width:50%;
                }
            }
        }
    }
}