.Player_Manager{
    z-index: 20;
    position: absolute;
    width:70%;
    height: 50px;
    background-color: #F5F5F5;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
    img{
        height: 100%;
        width: auto;
        margin-left: 1%;
        transform: translateY(-4%);
    }
    h3{
        text-transform: uppercase;
        font-size: 22px;
        margin-left: 1%;
    }
    .Button_Play, .Button_Reset{
        height: 80%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e6e6e6;
        margin-left: 1.5%;
        border-radius: 50%;
        border: 1.5px solid #e6e6e6;
        box-sizing: border-box;
        img{
            transform: translateY(0%) scale(1.1);
            margin-left: 0;
        }
        &:hover{
            border: 1.5px solid #5e5e5e;
            cursor: pointer;
        }
    }
    .Button_Reset{
        img{
            transform: scale(1.0);
        }
    }
    .Timer{
        width: 8%;
        margin-left: 1.5%;
        h3{
            width: fit-content;
            text-transform: lowercase;
        }
    }
    .Timer_Bar{
        width:60%;
        height: 60%;
        display:flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:hover{
            .Time_Bar_Bar{
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.329);
            }
            .Time_Bar_Dot{
                box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.726);
            }
        }
        .Time_Bar_Bar{
            width: 100%;
            height: 2px;
            background-color: #6E8898;
            border-radius: 2px;
        }
        .Time_Bar_Dot{
            position: absolute;
            width:18px;
            height: 18px;
            background-color: #3F4650;
            border-radius: 50%;
            transform: translateX(-50%);
        }
    }
}

.Player_Manager_Active{
    opacity: 1;
    transition: 0.2s;
}