@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

.EffectChoose{
    cursor:pointer;
    overflow:hidden;
    position: relative;
    transition: 0.4s;
}

.curr{
    transition: 0.4s;
    box-shadow: 0px 0px 4px 8px #7b6d8d !important;
}

.hovered{
    padding: 0px;
    box-shadow: 0px 0px 8px #9BF1F3;
}

.video{
    position: absolute;
    top:-2px;
    width:100%;
    height:100%;
    opacity: 0.95;
    transition: 0.4s ease;
}

.hidd{
    top:-100% !important;
}

.Click_To{
    margin:15px;
    text-align: center;
    color:#f39a47;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0px 0px 4px #f09b3b;
}
