.Record{
    width:100%;
    overflow: auto;
    .content{
        margin-top: 50px;
    }
    button{
        display: block;
        margin: 10px auto;
        padding: 15px;
        font-size: 24px;
    }
}

.Events{
    width:60%;
    padding: 10px;
    margin: 10px auto;
    overflow:auto;
    border: 5px solid black;
    border-radius: 4px;
}

.Event{
    padding: 5px;
    text-align: center;
    background-color: rgb(155, 155, 155);
    margin-top: 10px;
    box-shadow: 0px 0px 5px black;
    h3{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
}