.options{
    position: relative;
    z-index: 19;
    width:100%;
}

.mainOptions{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.container{
    margin: 30px auto;
    width:1280px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
}
