@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Quattrocento+Sans&display=swap');

.FileInputDiv{
    width:50%;
    position: relative;
    overflow: visible;
    height: 100%;
    z-index: 3;
    transition: 0.5s;
    .background_rotated{
        position: absolute;
        z-index: -1;
        overflow: hidden;
        right:-15%;
        top:-230px;
        height:140%;
        width:100%;
        background: linear-gradient(90deg,transparent ,white 1.5%);
        transform: rotate(-25deg);
        .backgroundCanvas{
            transform: rotate(25deg);
            position: absolute;
            top:0;
            right:0;
        }
    }
    .FileInput_Data{
        width:66%;
        height:100%;
        margin-left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color:white;
        .Midi_Icon{
            width:100px;
            height:100px;
        }
        .Input_Text{
            display: block;
        }
        h2{
            font-size: 28px;
            text-align: center;
            color: #3F4650;
            font-weight: 100;
            margin-top: 0px;
        }
        h3{
            font-size: 20px;
            margin-top: -30px;
            color:black;
            font-weight: 100;
        }
        .Input_Configure_Bt{
            position: relative;
            overflow: hidden;
            color: #FFF;
            background-color: #6E8898;
            border-radius: 4px;
            border:none;
            font-size: 28px;
            font-weight: 100;
            text-align: center;
            width:180px;
            height: 40px;
            padding: 2px 0px 2px 0px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.292);
            cursor: pointer;
            outline: none;
            &:hover{
                color: #f7f7f7;
                text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.373);
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.483);
            }

        }
    }
    .FileInput{
        position: absolute;
        right:-20%;
        top:-25%;
        height:155%;
        width:95%;
        transform: rotate(-25deg);
        opacity: 0;
        cursor:pointer
    }
}

.Fade{
    opacity: 0;
    pointer-events: none;
}

@keyframes background_slid{
    0%{
        left:-10%;
    }
    100%{
        left:110%;
    }
}

@media only screen and (max-width: 1680px) {
    .FileInputDiv{
        width: 43%;
        .FileInput_Data{
            .Midi_Icon{
                width: 75px;
                height: 75px;
            }
            h2{
                font-size: 16px;
            }
            h3{
                font-size: 14px;
                margin-top: -10px;
            }
        }
    }
}

@media only screen and (max-width: 1540px) {
    .FileInputDiv{
        width: 55%;
    }
}

@media only screen and (max-width: 1370px) {
    .FileInputDiv{
        width:100%;
        height:50%;
        margin: 0px auto;
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.459);
        transition: 0s;
        .background_rotated{
            transform: rotate(0deg);
            left:-2%;
            top:0%;
            width:102%;
            height: 150%;
            .backgroundCanvas{
                transform: rotate(0deg);
                left:0;
                top:0;
                width: 100%;
                height:100%;
            }
        }
        .FileInput_Data{
            width:80%;
            margin: 0px auto;
            .Midi_Icon{
                width: 50px;
                height: 50px;
            }
        }
        .FileInput{
            height:100%;
            width:100%;
            left:0%;
            top:0%;
            transform: rotate(0deg);
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 550px) {
    .FileInputDiv{
        height:55%;
        .FileInput{
            height:100%;
            width:100%;
            left:0%;
            transform: rotate(0deg);
        }
        .FileInput_Data{
            .Midi_Icon{
                width:75px;
                height:75px;
            }
            h2{
                font-size: 14px;
            }
            h3{
                font-size: 12px;
                margin-top: -10px;
            }
            .Input_Configure_Bt{
                width:130px;
                font-size: 16px;
            }
        }
    }
}
