.FileInput{
    width:500px;
    height:500px;
    border:1px solid black;
    color:#00754e
}

.FileInputDiv{
    width:500px;
    height:500px;
    border:1px solid black;
}

.file_Upload_Label{
    width:500px;
    height:500px;
    border:1px solid black;
}