.Piano{
    position: relative;
    /* margin: 20px auto; */
    width:100%;
    background-color: rgb(32, 9, 0);
}

.piano_keys{
    position: absolute;
}

.whiteKey{
    
    border:1px solid black;
    border-bottom: none;
    position: absolute;
    box-shadow: 0 4px 3px -3px black;
    background-color: rgb(255, 255, 240);
    border-radius: 5px;
    z-index: 30;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

.blackKey{
    border:1px solid black;
    background-color: black;
    position: absolute;
    box-shadow: 0px 1px 4px black;
    border-radius: 5px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    z-index: 33;
}

.redFancyLine{
    position: absolute;
    height:3px;
    width:100%;
    border-top: 4px solid black;
    background-color: rgb(44, 1, 1);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.699);
    z-index: 35;
}

.red{
    background-color: #11d331;
    transform: scale(0.92);
}

.loading_sound{
    position: absolute;
    z-index: 555;
    background: linear-gradient(180deg,black,rgb(5, 5, 63));
}

.loading_sound>h2{
    display: block;
    text-align: center;
    font-size: 64px;
    margin: 10px auto;
    padding-top: 100px;
    color:white;
}

.loading_sound>h3{
    color:white;
    font-size: 32px;
    text-align: center;
}