@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.mainTutorial{
    overflow-y: scroll;
    width:100%;
    position: absolute;
    scroll-behavior: smooth;
}

.Tutorial{
    position: relative;
    margin: 70px auto;
    width:1080px;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.gradientLeft{
    background: #D4F1F4;
}

.gradientRight{
    background: #05445E;
    color:white
}

.Tutorial_Head{
    margin-top: 20px;
}

.Tutorial_Head>h1{
    display: block;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    margin-top: 20px;
}

.TutorialBlocks{

}

.TutorialBlock{
    margin: 20px auto;
    border-radius: 5px;
    height:300px;
    width:90%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.527);
}

.element{
    width:50%;
    box-sizing: border-box;
    height:100%;
}

.TextElement{
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TextElement>h1{
    margin-top: 10px;
    font-size: 16px;
}

.TextElement>h2{
    margin-top: 10px;
    font-size: 12px;
}

.AudioIcon{
    font-size: 32px;
    transform: rotate(15deg);
    color: #283845;
}

.ImageElement{
    padding: 25px;
    box-sizing: border-box;
}

.Editor{
    width:100%;
    max-height: 100%;
    box-shadow: 0px 0px 10px black;
}

.flex1{
    order: 1;
}

.flex2{
    order: 2;
}

.Youtube{
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.YT_tut{
    display: block;
    text-align: center;
    border-top: 2px dashed black;
    padding: 10px;
    margin: 20px auto;
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 1100px){
    .Tutorial{
        width:720px;
    }
    .ImageElement{
        padding: 25px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .AudioIcon{
        font-size: 16px;
    }
    .TextElement>h1{
        margin-top: 10px;
        font-size: 12px;
    }
    
    .TextElement>h2{
        margin-top: 10px;
        font-size: 10px;
    }
    .TextElement{
        padding: 20px;
    }
}

@media only screen and (max-width: 740px){
    .Tutorial{
        width:90%;
    }
    .TextElement{
        padding: 5px;
    }
    .Youtube{
        width:90%;
        height: 300px;
    }
    .TutorialBlock{
        flex-direction: column;
    }
    .element{
        width:100%;
        height: 50%;
    }
    .ImageElement{
        height: 60%;
        justify-self: center;
    }
    .Editor{
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
    .TextElement{
        height: 40%;
    }
}

@media only screen and (max-width: 360px){
    .AudioIcon{
        font-size: 12px;
    }
    .Youtube{
        height: 200px;
    }
    .TextElement>h1{
        margin-top: 5px;
        font-size: 10px;
    }
    
    .TextElement>h2{
        margin-top: 5px;
        font-size: 8px;
    }
    .ImageElement{
        height: 50%;
        justify-self: center;
    }
    .TextElement{
        height: 50%;
    }
}