.Options_Container{
    margin-top: 60px;
    width:100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    .data{
        width:60%;
        position: relative;
        height: auto;
        .AdvancedOptions{
            width:100%;
        }
    }
    .Previev{
        position: relative;
        border-radius: 2px;
        width:30%;
        margin:5px auto;
        margin-top: 50px;
        background-color: rgb(12, 1, 26);
        height:300px;
        box-shadow: 0px 0px 6px black;
        overflow:hidden;
        .CanvasPreviev{
            position: absolute;
            z-index: 5;
            top:0;
        }
        .GradientPreviev{
            z-index: 35;
        }
    }

    .goBack{
        position: absolute;
        top:50px;
        left:5%;
        padding: 20px;
    }
}

@media only screen and (max-width: 1200px){
    .Options_Container{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        .Previev{
            width:80%;
            height:300px !important;
        }
        .data{
            width:98%;
            height: 52%;
            padding-bottom: 100px;
            overflow: auto;
            overflow-x: hidden;
            justify-content: flex-start;
            flex-direction: column;
        }
    }
}