@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.Options_Main{
    position: absolute;
    width:100%;
    height:100%;
    z-index: 2;
    top:0%;
    left:68.5%;
    transition: 1s ease;
    display: flex;
    justify-content: center;
    .background_options{
        background-color: #060606;
        top:-65%;
        height:200%;
        width:110%;
        position: absolute;
        transform: rotate(-15deg);
        z-index: 1;
    }
    .breakline_options{
        width:100%;
        margin: 5px auto;
        height:2px;
        background-color: #C4C4C4;
        border-radius: 2px;
    }
    .Options_Data{
        width:85%;
        height:100%;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 3;
        margin-top: 100px;
        margin-left: -4%;
        opacity:0;
        transition: 0.25s;
        h2{
            font-family: 'Poppins', sans-serif;
            width:100%;
            height:auto;
            letter-spacing: 1.4px;
            text-align: center;
            font-size: 24px;
            color:white;
            display:inline-block;
            font-weight: 400;
            margin: 0;
        }
        .options_Cards{
            width:90%;
            height:72vh !important;
            overflow-y: auto;
            margin:10px auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            box-sizing: border-box;
            .Cards_Container{
                box-sizing: border-box;
                width:100%;
                height:auto;
                display: flex;
                align-content: baseline;
                padding-bottom: 10px;
                padding-top: 10px;
                justify-content: center;
                flex-wrap: wrap;
                animation: Enter 0.5s ease;
            }
        }
        .options_Cards::-webkit-scrollbar {
        width: 8px;
        }
        .options_Cards::-webkit-scrollbar-track {
        background: #f1f1f105;
        border-radius: 9px;
        }
        .options_Cards::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.24);
        border-radius: 9px;
        }
        .options_Cards::-webkit-scrollbar-thumb:hover {
        background: rgba(85, 85, 85, 0.712);
        } 
    }
    .Bt{
        position: absolute;
        height:100vh;
        left:-50px;
        top:0;
        display: flex;
        align-items: center;
        opacity: 0;
        z-index: 2;
        transition: 0.5s;
        .Bt_GoBack{
            width:50px;
            height:50px;
            border-radius: 50px;
            background-color: #EFEFEF;
            overflow: hidden;
            padding: 0;
            border:none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor:pointer;
            .Bt_Img{
                width:40px;
                height:35px;
            }
        }
        .Bt_GoBack:hover{
            transition: 0.2s;
            transform: scale(1.1);
            background-color: #44C1F8;
        }
    }
}

.Opened{
    left:4% !important;
    width: 96%;
    .Bt{
        opacity: 1;
    }
    .Options_Data{
        transition: 1.5s;
        opacity: 1;
    }
}

.options_buttons{
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom:50px;
    width:50%;
}

.Restore{
    position: absolute;
    top:20px;
    border:none;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
}

@keyframes Enter{
    0%{
        margin-Top: -50%;
    }
    100%{
        margin-Top: 0px;
    }
}

@media only screen and (max-width: 1380px) {
    .Options_Main{
        left:73%;
    }
}

@media only screen and (min-width: 1200px) and (max-height:900px) {
    .Options_Main{
        .Options_Data{
            margin-top: 70px;
            .options_Cards{
                height:63vh !important;
            }
        }
    }
    .options_buttons{
        margin-top: 20px !important;
    }
}

@media only screen and (max-width: 920px) {
    .Options_Main{
        left:0%;
        z-index: 5;
        top:0%;
        padding-top:12%;
        left:100%;
        margin-top: 10px;
        .background_options{
            transform: rotate(0deg);
            width:100%;
            height:100%;
            top:0%;
            left:0%;
        }
        .Options_Data{
            margin: 0px auto;
            width:80%;
            height:100%;
            .options_Cards{
                height:72% !important;
            }
            .options_buttons{
                width:90%;
                bottom: 0;
            }
        }
        .Bt{
            left:15px;
        }
    }
    .Opened{
        left:0% !important;
        width:100%;
    }
}

@media only screen and (max-width: 550px) {
    .Options_Main{
        left:0%;
        z-index: 5;
        top:0%;
        padding-top:12%;
        left:100%;
        .background_options{
            transform: rotate(0deg);
            width:100%;
            height:100%;
            top:0%;
            left:0%;
        }
        .Options_Data{
            margin: 0px auto;
            width:80%;
            height:100%;
            .options_Cards{
                height:72% !important;
                margin-top: -10px;
            }
            .options_buttons{
                width:90%;
                bottom: 0;
            }
        }
        .Bt{
            left:5px;
            .Bt_GoBack{
                width:40px;
                height:40px;
            }
        }
    }
    .Opened{
        left:0% !important;
        width:100%;
    }
    .Restore{
        display: none;
    }
}
