@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

//Color

input[type="color"] {
	border: none;
    display: block;
    border-radius: 0px;
    margin: 0px 15px;
    outline: none;
    appearance: none;
	width:25%;
    height:70%;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.400);
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 3px;
}

.Hex_Input{
    width: 80px;
    margin-left: 5px;
    font-size: 18px;
    line-height: 28px;
    border: none;
    border: 2px dotted rgb(56, 56, 56);
    padding-left: 4px;
}

//Checkbox

.checkboxInput{
    width:25px;
    height:25px;
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0px 20px;
    box-shadow: 0px 0px 7px rgb(248, 28, 28);
    
}

.checkboxInput:checked, .Randocheckbox:active{
    box-shadow: 0px 0px 7px rgb(33, 182, 33);
}

.Input_Image_Container{
    width: 25%;
    margin: 0px auto;
    height: 25%;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    h3{
        position: absolute;
        margin: 0;
        padding: 0;
        top:50%;
        left:10px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}


.ImageInput{
    position: absolute;
    top:0;
    opacity: 0;
    width: 100%;
    height: 100%;
    :hover{
        cursor: pointer;
    }
}

.checkboxInput::after{
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0px;
    background-color: rgb(230, 63, 63);
    position: absolute;
}

.checkboxInput:hover::after{
    content: '';
    transition: 0.2s;
    width: 100%;
    height: 100%;
    top:0;
    left: 0px;
    background-color: rgb(155, 9, 9);
    position: absolute;
}

.checkboxInput:checked::after, .checkboxInput:active::after{
    content: '';
    transition: 0.2s;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    background-color: rgb(63, 221, 63);
    position: absolute;
}

//Number

.numberInput{
    height:50%;
    margin: 10px auto;
    display: block;
    outline: none;
    width: 88%;
    appearance: textfield;
    border-radius: 2px;
    border: 2px dotted black;
    font-weight: 100;
    font-size: 20px;
    // box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.382);

}

.numberInput::-webkit-inner-spin-button{
    opacity:0;
    -webkit-appearance: none; 
}

.numberInput:focus-visible{
    border:2px solid black;
    outline: none;
}
@media only screen and (max-width: 550px) {
    .numberInput{
        height:12%;
        width: 50%;
    }
}