@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');

.OptionCard{
    width:300px;
    height:170px;
    background-color: #F5F5F5;
    border-radius: 1px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.318);
    margin: 20px 1.8% 20px 1.8%;
    position: relative;
    overflow: hidden;
    .Card_Title{
        color: black;
        font-weight: 100;
        font-size: 26px;
        text-align: left;
        width: 90%;
        margin: 10px auto 10px;
        text-shadow: 0px 0px 3px #44C1F8;
    }
    .Card_Description{
        font-weight: 300 !important;
        color:rgb(39, 39, 39) !important;
        font-size: 16px !important;
        text-align: left;
        letter-spacing: 1.1px !important;
        display: block !important;
        width:90% !important;
        margin: 0px auto !important;
        height: 40%;
        overflow-y: auto;
    }
    .blocks{
        text-shadow: 0px 0px 4px #44C1F8 !important;
        color:#44C1F8 !important;
    }
    .effects{
        // color:#7B6D8D !important;
        text-shadow: 0px 0px 3px #e7d256 !important;
    }
    .speed{
        // color:#59CD90 !important;
        text-shadow: 0px 0px 4px #59CD90 !important;
    }
    .background{
        // color: #F95738 !important;
        text-shadow: 0px 0px 4px #F95738 !important;
    }
    .Input_Container{
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        h3{
            display: inline-block;
        }
        h4{
            font-size: 24px;
            text-transform: uppercase;
        }
        .In_Green{
            color: #288937;
        }
        .In_Red{
            color: #F95738;
        }
    }
}

.inputImageDiv{
    position: relative;
    width:80%;
    height:45px;
    margin: 0px auto;
    overflow:hidden;
    border-radius: 5px;
    border:2px dashed black;
    display:flex;
    align-items: center;
    justify-content: center;
}

.inputImage{
    display: block;
    position: relative;
    width:80%;
    margin: 0px auto;
    height:50px;
    border-radius: 10px;
}

.Input_Delete_Image{
    content: 'X';
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 15%;
    height: 0;
    padding-bottom: 15%;
    background-color: rgba(41, 33, 33, 0.911);
    border-radius: 2px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.459);
    &::before{
        content: 'X';
        color:white;
        position: absolute;
        left: 22.5%;
        top: -12.5%;
        font-size: 40px;
    }
    &:hover{
        background-color: #F95738;
        transition: 0.1s;
        cursor: pointer;
    }
    transform: scale(0.8);
}

.Image_Input_Preview{
    position: absolute;
    right: -90%;
    bottom: 0;
    width: 300px;
    height: 180px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.747);
    background-color: white;
    border-radius: 5px;
    img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    h5{
        position: absolute;
        top:10px;
        left: 10px;
        font-size: 16px;
        margin: 0;
        padding: 0;
        width: fit-content;
    }
}

.inputImageDiv{
    h1{
    font-size: 12px;
    font-family: 'IM Fell English SC';
    color:black;
    font-weight: 100;
    }
}

.RIBBON{
    position: absolute;
    width: 200px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #F95738;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    top:20px;
    right: -70px;
    h3{
        color: #F5F5F5;
        font-weight: 400;
        font-size: 22px;
    }
}


@media only screen and (max-width: 550px) {
    .OptionCard{
        height:150px;
        width:280px;
        .Card_Title{
            margin:0;
            margin-top: 8px;
            margin-bottom: 4px;
            font-size: 15px;
        }
        .Card_Description{
            font-size: 11px !important; 
        }
    }
}