.Footer{
    width:95%;
    position: relative;
    z-index: 10;
    margin: 40px auto;
    height:200px;
    border-top: 2px dashed rgba(0, 0, 0, 0.507);
}

.BeforeFooter{
    width:100%;
    background-color: rgb(240, 240, 240);
}

.Footer_Display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.Footer_Div{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    height: 100%;
    width:30%;
}

.Footer_Div>h3{
    text-align: center;
}

.LinkFooter{
    display: block;
    margin: 10px auto;
    width:35px;
    height:35px;
    text-align: center;
    color:rgb(138, 138, 138);
    cursor: pointer;
}

.email{
    position: relative;
    cursor:pointer;
    display: block;
    font-size: 16px;
    margin: 15px auto;
    color: #5085f8;
    text-align: center;
}

.email:hover{
    transition: 0.2s;
    color: #2759c5;
}

.Copyrights{
    position: absolute;
    bottom: -10px;
    margin: 0;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.877);
    font-weight: 500;
    text-align: center;
    width:100%;
}

.LinkFooter:hover{
    transition: 0.2s;
    transform: scale(1.1);
    color:black;
}

.LinkFooter:active{
    text-decoration: none;
    color:unset;
    position: relative;
}

.YoutubeButton, .CodeButton, .Contact{
    font-size: 35px;
}

.Contacct_exp{
    visibility: hidden;
}

.Contact:hover  +.Contacct_exp{
    visibility: visible;
    border-radius: 10px;
    min-width: 100px !important;
    font-size: 10px;
    margin-top: -100%;
    margin-left: 110%;
    position: absolute;
    background-color: rgb(241, 240, 240);
    padding: 2px;
}

.email_info{
    visibility: hidden;
}

.email:hover +.email_info{
    visibility: visible;
    border-radius: 10px;
    min-width: 100px !important;
    margin-left: 70%;
    margin-top: -8%;
    font-size: 10px;
    position: absolute;
    background-color: rgb(241, 240, 240);
    padding: 2px;
}

.LI{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dependencyLink{
    margin: 2px;
    color:rgb(83, 83, 83);
    text-decoration: none;
}

.dependencyLink:hover{
    transition: 0.1s;
    font-weight: 700;
    color:black;
}

.unactive{
    color:rgb(252, 159, 143);
}

.unactive:hover{
    color : rgb(252, 125, 103);
}

@media only screen and (max-width: 740px){
    .Footer_Display{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Footer_Div{
        width: 100%;
    }

    .email_info{
        visibility: hidden;
        position: absolute;

    }

    .Footer{
        height: unset;
    }
}