.main{
    width:100%;
    position: absolute;
    top: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

h1{
    text-align: center;
}

body{
    cursor: default;
    overflow: hidden;
    background-color: #F3F3F3;
}
