@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&family=Jersey+25&display=swap');

.jersey-10{
  font-family: "Jersey 10", serif;
  font-weight: 100;
}

.jersey-15{
  font-family: "Jersey 15", serif;
  font-weight: 100;
}

.jersey-20{
  font-family: "Jersey 20", serif;
  font-weight: 100;
}

.jersey-25{
  font-family: "Jersey 25", serif;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
